<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveDocs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <!-- Added following 2 lines to fix minor error where request needed validation. This should not be done on deployed version!! -->
      <pages validateRequest ="false " />
      <httpRuntime requestValidationMode="2.0" />
      
      
      <customErrors mode="Off"/>
        <compilation debug="true" targetFramework="4.0" />
      <httpHandlers><!--For web method support -->
        <remove verb="*" path="*.asmx"/>
        <add verb="*" path="*.asmx"      type="System.Web.Script.Services.ScriptHandlerFactory"       validate="false"/>
      </httpHandlers>
    </system.web>

    <applicationSettings>
        <LiveDocs.Properties.Settings>
            <setting name="LiveDocs_net_ResetPWD_ResetPassword" serializeAs="String">
                <value>http://localhost:49627/services/ResetPassword.asmx</value>
            </setting>
        </LiveDocs.Properties.Settings>
    </applicationSettings>
</configuration>
